.NavigationBar {

    height : 100vh;
    background-color : #CD5334;
    text-align: center;

}



.Brand{

    color: #F7B32B;
    font-size: 1.5em;
    padding-top : 0.5em;
    padding-bottom :0.5em;

    margin-bottom: 1em;
    background-color: #963D26;

}